<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="view" style="background-image: url('../../assets/homepage.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; height: 100vh;
;">
  <h1 class="h1-reponsive text-uppercase font-weight-bold mb-0 pt-md-5 pt-5"><strong>Wikivia</strong></h1>

  <div class="row">
      <div class="col-md-12 mb-4 white-text text-center">
          <h1 class="h1-reponsive pt-md-5 pt-5" style="font-family: 'Roboto', sans-serif;"><strong>
            Why did the chicken cross the road?
          </strong></h1>
      </div>
  </div>

  <div class="answer">
    <form class="answer-box" style="font-family: 'Roboto', sans-serif;">
      <input type="text" placeholder="Enter your answer here...">
    </form>
  </div>
</div>
